{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "import"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "lines-between-class-members": "error",
    "newline-before-return": "error",
    "newline-after-var": "error",
    "import/order": [
      "error",
      {
        "groups": [
          [
            "builtin",
            "external"
          ],
          [
            "internal"
          ],
          [
            "parent"
          ],
          [
            "sibling",
            "index"
          ]
        ],
        "newlines-between": "always"
      }
    ],
    "import/newline-after-import": "error",
    "import/no-unused-modules": "error",
    "import/no-cycle": "error",
    "react/display-name": "off",
    "@typescript-eslint/explicit-member-accessibility": [
      "error",
      {
        "accessibility": "no-public"
      }
    ],
    "@typescript-eslint/explicit-function-return-type": ["error", {"allowExpressions": true}]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
